<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Lechuang.app">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".app.LCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".Activity.ViewPager_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                 
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Gift_Activity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
            android:name=".Activity.Zhuce_Activity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activity.Login_Pet"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activity.Add_Information"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activity.Add_Information"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activity.CallPhone_Activity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activity.Note_Log_Activity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activity.Recommend_Activity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activity.Recommend_YanZhengMa_Activity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activity.Have_Or_Not_Pet"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activity.Home_Pager"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="@string/map_key" />

        <service android:name="com.amap.api.location.APSService" />
        <!-- QQ登录start -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/qqappid" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- QQ登录end -->
        <!-- 友盟start -->
        <!-- 友盟AppKey， 需要替换成你自己的 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/umeng_key" />
        <!-- <meta-data -->
        <!-- android:name="UMENG_MESSAGE_SECRET" -->
        <!-- android:value="@string/umeng_message_secret"></meta-data> -->
        <!-- 友盟分享start -->
        <!-- &lt;!&ndash; 分享内容编辑页 &ndash;&gt; -->
        <!-- <activity -->
        <!-- android:name="com.umeng.socialize.view.ShareActivity" -->
        <!-- android:configChanges="orientation|keyboard" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:noHistory="true" -->
        <!-- android:theme="@style/Theme.UMDialog" -->
        <!-- android:windowSoftInputMode="stateVisible|adjustResize"></activity> -->
        <activity
            android:name=".Activity.FuWuActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activity.Have_pet_Activity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activity.MeInfoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activity.MyPetActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activity.MyPetMessageActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activity.MyPetAddActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activity.MyPetIntegralTaskActivty"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activity.MyPetActionActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activity.MyPetLocationManageAvtivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activity.MyPetAddLocationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activity.MyPetLocationCompileActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activity.SettingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".Activity.AboutWebViewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".Activity.SettingPasswordActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
    </application>

</manifest>